body{
	background-color:#990000;
}
#toolbar{
	background-color:#990000;
	text-align:center; 
	width:1904px; 
}
button{
	background-color:#FFFFDD;
}
#canvas{
	background-color:#FFFFDD; 
	border:2px solid #000000;
	
}
#coord{
	color:#FFFFDD;

}
label{
	color:#FFFFDD;
}
input{
	width:50px;
}
